/* :::::::: tab.css :::::::: */
.mob-only {
  display: none;
}
.web-only {
  display: none;
}

/* ######## header ######## */
header {
  display: flex;
  width: 100vw;
  height: 90px;
  position: fixed;
  /* outline: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 0.2px solid #ddd;
  z-index: 100;
  background-color: #fff;
}
.gnb {
  height: 100%;
  display: none;
}

/* ######## title ######## */
.main-title {
  width: 100%;
  height: 85vh;
  max-height: 700px;
  /* outline: 1px solid blue; */
  padding: 0 40px;
  position: relative;
}
.main-title .title-txt {
  width: 100%;
  position: absolute;
  top: 30%;
}
.main-title .title-txt h1 {
  font-size: 72px;
  color: #fff;
  line-height: 1em;
  padding-left: 50px;
}
.main-title .title-txt .line {
  width: calc(100% - 80px);
  height: 5px;
  background: #fff;
}
.main-title .title-txt .line .line-orange {
  width: 100%;
  height: 100%;
  background: #fac120;
}
.main-title .title-txt p {
  font-size: 23px;
  color: #fff;
  margin-top: 20px;
  padding-left: 50px;
}

.main-title .img-box {
  width: 100%;
  height: 100%;
}
.main-title .title-img-web {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  object-position: bottom;
}

/* ######## contents_1 ######## */
.contents_1 {
  width: 100%;
  text-align: center;
  padding: 150px 40px;
  /* outline: 1px solid #fac120; */
  position: relative;
}

.contents_1 > h2 {
  font-size: 2.66rem;
}

.contents_1 h2 span {
  position: relative;
}
.contents_1 .yel::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #fac120;
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: -1;
}

.contents_1 > p {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 2em;
}

.contents_1 > p > .bold {
  font-weight: 700;
}
.contents_1 .content-box {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid blue; */
}

.contents_1 .content-box .box {
  width: 25%;
  height: 100%;
  /* outline: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
}
.contents_1 > .content-box > .box:last-child {
  border-right: none;
}

.contents_1 .box img {
  width: 64px;
}

.contents_1 .box .caption {
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 2em;
}

.contents_1 .box:hover > .caption {
  color: #800080;
}

.contents_1 .box .link-more {
  font-weight: 700;
  height: 0;
  overflow: hidden;
  color: #800080;
  transition: 0.5s;
  position: relative;
  left: -15px;
}
.contents_1 .box .link-more::before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(80, 00, 80, 0.5);
  position: absolute;
  left: 73px;
  top: 3px;
}

.contents_1 .box .link-more::after {
  content: "";
  width: 50px;
  height: 20px;
  background-image: url(../images/p_btn.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 65px;
  top: 8px;
  transition: 0.5s;
}

.contents_1 .box:hover .link-more {
  height: 1.5em;
  overflow: visible;
}

.contents_1 .box .link-more:hover::after {
  transform: translate(18px, 0);
}

/* ######## contents_2 ######## */

.contents_2 {
  width: 100vw;
  height: 100vh;
  max-height: 900px;
  overflow: hidden;
  position: relative;
}
.contents_2 .bm-list {
  width: calc(100vw * 4);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  transition: 0.5s;
}

.contents_2 .bm-list li {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  color: white;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents_2 .bm-list li:first-child {
  background-image: url(../images/contents_2_bg_1.jpg);
}
.contents_2 .bm-list li:nth-child(2) {
  background-image: url(../images/contents_2_bg_2.jpg);
}
.contents_2 .bm-list li:nth-child(3) {
  background-image: url(../images/contents_2_bg_3.jpg);
}
.contents_2 .bm-list li:last-child {
  background-image: url(../images/contents_2_bg_4.jpg);
}

.contents_2 h3 {
  font-size: 1.78rem;
  line-height: 2.5em;
}
.contents_2 p {
  font-size: 0.9rem;
}

.contents_2 .link-more {
  font-weight: 300;
  line-height: 30px;
  position: relative;
  margin: 20px auto;
  width: 200px;
  left: -25px;
}
.contents_2 a {
  color: #fff;
}
.contents_2 .link-more::before {
  content: "";
  width: 30px;
  height: 30px;
  background: rgba(80, 00, 80, 0.8);
  position: absolute;
  right: 30px;
}
.contents_2 .link-more::after {
  content: "";
  width: 30px;
  height: 20px;
  background-image: url(../images/more.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 40px;
  top: 10px;
  transition: 0.5s;
}
.contents_2 .link-more:hover::after {
  transform: translate(20px, 0);
}

.contents_2 .slide-btn.tab-only {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contents_2 .slide-btn.tab-only button {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  justify-content: center;
  border: none;
}

.contents_2 .slide-btn.tab-only button:hover {
  background: rgba(255, 255, 255, 1);
}

.contents_2 .slide-btn.tab-only button.active {
  background: rgba(255, 255, 255, 1);
}

/* ######## contents_3 ######## */
.contents_3 {
  width: 100vw;
  text-align: center;
  padding: 70px 40px;
  position: relative;
}

.contents_3 > h2 {
  font-size: 2.66rem;
}

.contents_3 h2 .yel {
  position: relative;
}
.contents_3 .yel::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #fac120;
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: -1;
}

.contents_3 .news_list {
  width: 80vw;
  height: 450px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.contents_3 .news_list li {
  display: inline-block;
  width: calc((100% - 20px) / 2);
  height: 450px;
  border-top: 1px solid #800080;
}

.contents_3 .news_box .news_bm {
  width: 120px;
  background: #800080;
  color: #fff;
  line-height: 35px;
  font-size: 1rem;
  text-align: center;
}

.contents_3 .news_box .news_title {
  font-size: 1.5rem;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-right: 32px;
  overflow: hidden;
  position: relative;
}

.contents_3 .news_box .news_title::before {
  content: "...";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: -7px;
}

.contents_3 .news_txt {
  height: 50px;
  font-size: 1rem;
  line-height: 1.5em;
  overflow: hidden;
  font-weight: 400;
  margin-bottom: 15px;
}

.contents_3 .news_date {
  margin-bottom: 10px;
  color: #ccc;
  font-weight: 300;
}

.contents_3 .news_img {
  width: 100%;
  height: 270px;
  overflow: hidden;
}

.contents_3 img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  object-fit: cover;
  object-position: center;
}

.contents_3 .news_img:hover {
  outline: 0.1px solid rgba(80, 00, 80, 0.3);
}

.contents_3 img:hover {
  transform: scale(1.04);
}

.contents_3 .btn_box {
  width: 90vw;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 152px;
  left: calc(50%);
  transform: translateX(-50%);
}
.contents_3 .btn {
  width: 30px;
  height: 30px;
  border-top: 5px solid rgba(30, 30, 30, 0.5);
  border-right: 5px solid rgba(30, 30, 30, 0.5);
}
.contents_3 .btn.news_prev {
  transform: rotate(-135deg);
}
.contents_3 .btn.news_next {
  transform: rotate(45deg);
}

/* ######## contents_4 ######## */
.contents_4 {
  background-image: url(../images/bottom_banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  height: 360px;
  position: relative;
}
.contents_4 .bottom_banner {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  color: #fff;
}

.contents_4 .bottom_banner:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.contents_4 h2 .yel {
  position: relative;
  font-size: 1.77rem;
  z-index: 1;
}
.contents_4 .yel::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fac120;
  position: absolute;
  top: 2px;
  left: -8px;
  z-index: -1;
}

.contents_4 a {
  color: #fff;
}

.contents_4 .link-more {
  position: relative;
  left: -20px;
  height: 20px;
}

.contents_4 .link_more_wrap {
  width: 200px;
  display: flex;
}

.contents_4 .link_more_wrap a {
  width: 50%;
}

.contents_4 .link_more_wrap a .link-more {
  left: 0px;
}

.contents_4 .link-more::before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -40px;
  top: 2px;
}

.contents_4 .link-more::after {
  content: "";
  width: 25px;
  height: 20px;
  background-image: url(../images/more.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -33px;
  top: 8px;
  transition: 0.5s;
}
.contents_4 .link-more:hover::after {
  transform: translate(20px, 0);
}

/* ######## footer ########*/
footer {
  width: 100%;
  padding: 70px 40px;
  background: #000;
  position: relative;
  color: #fff;
}
footer .footer_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer_box:first-child {
  margin-bottom: 130px;
}
footer .footer_menu {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
footer .footer_menu a {
  color: #fff;
  font-size: 18px;
}

footer .footer_logo {
  width: 198px;
}

footer p {
  font-size: 13px;
  color: #aaa;
}

footer .sns_box {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
