/* :::::::: web.css :::::::: */
.web-none {
  display: none;
}
.mob-only {
  display: none;
}
.tab-only {
  display: none;
}

body {
  padding-top: 90px;
}
/* ######## header ######## */
header {
  display: flex;
  width: 100%;
  height: 90px;
  /* outline: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 100;
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 0.2px solid #ddd;
}

header .gnb {
  height: 100%;
}
header .gnb .depth1 {
  height: 90px;
}

header .gnb .depth1 > li {
  width: 140px;
  height: 100%;
  position: relative;
  padding-left: 20px;
}
header .gnb .depth1 > li > a {
  font-size: 16px;
  font-weight: 500;
  line-height: 90px;
  display: block;
}

/* depth2 메뉴 */
header .gnb .depth2 {
  height: 0;
  margin-top: 20px;
  overflow: hidden;
  z-index: 2;
  transition: 0.2s;
}
header .gnb .depth1::after {
  content: "";
  width: 100%;
  height: 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: 90px;
  transition: 0.2s;
  z-index: -1;
}
header .gnb .depth1:hover::after {
  height: 280px;
}

header .gnb .depth1:hover .depth2 {
  height: 260px;
  flex-direction: column;
}

header .gnb .depth2 a {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

header .gnb a:hover {
  font-weight: 700;
  color: #800080;
}

header .gnb .depth1 > li::before {
  content: "";
  width: 0px;
  height: 2px;
  background: #800080;
  position: absolute;
  top: 88px;
  transition: 0.5s;
}
header .gnb .depth1 > li:hover::before {
  width: 65px;
}

/* ######## site-map ######## */
#site-map {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #fff;
  padding: 0 40px;
}

#site-map .header-cover {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#site-map .site-map-close img {
  width: 24px;
}

#site-map .gnb .depth1 {
  /* outline: 1px solid red; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 150px;
  height: 90px;
}

#site-map .gnb .depth1::after {
  content: "";
  width: 100vw;
  height: 0.1px;
  background: #800080;
  position: absolute;
  top: 190px;
  left: 0;
}

#site-map .gnb .depth1 > li {
  vertical-align: top;
  font-size: 26px;
  font-weight: 700;
  line-height: 90px;
}

#site-map .gnb .depth1 > li > a {
  color: #800080;
}

#site-map .gnb .depth2 {
  margin-top: 30px;
}

#site-map .gnb .depth2 > li {
  vertical-align: top;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 20px;
}

/* site-map 전환 */
#site-map {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

#site-map.show {
  height: 100vh;
  overflow: visible;
  opacity: 1;
}

/* ######## title ######## */
.main-title {
  width: 100%;
  height: 95vh;
  /* outline: 1px solid blue; */
  padding: 0 40px;
  position: relative;
  overflow: hidden;
}
.main-title .title-txt {
  width: 100%;
  position: absolute;
  top: 30%;
}
.main-title .title-txt h1 {
  font-size: 4.5rem;
  color: #fff;
  line-height: 1em;
  padding-left: 70px;
}
.main-title .title-txt .line {
  width: calc(100vw - 80px);
  height: 5px;
  background: #fff;
}
.main-title .title-txt .line .line-orange {
  width: 100%;
  height: 100%;
  background: #fac120;
}
.main-title .title-txt p {
  font-size: 26px;
  color: #fff;
  margin-top: 20px;
  padding-left: 70px;
}
.main-title .title-img-web {
  width: 100%;
  height: 95vh;
  display: flex;
  object-fit: cover;
  object-position: bottom;
}

/* ######## contents_1 ######## */
.contents_1 {
  width: 100%;
  text-align: center;
  padding: 180px 40px;
  /* outline: 1px solid #fac120; */
}

.contents_1 > h2 {
  font-size: 3.56rem;
}

.contents_1 h2 span {
  position: relative;
}
.contents_1 .yel::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #fac120;
  position: absolute;
  top: 5px;
  left: -10px;
  z-index: -1;
}

.contents_1 > p {
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 2em;
}

.contents_1 > p > .bold {
  font-weight: 700;
}
.contents_1 .content-box {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid blue; */
}

.contents_1 .content-box .box {
  width: 25%;
  height: 100%;
  /* outline: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
}
.contents_1 > .content-box > .box:last-child {
  border-right: none;
}

.contents_1 .box img {
  width: 64px;
}

.contents_1 .box .caption {
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 2em;
}

.contents_1 .box:hover > .caption {
  color: #800080;
}

.contents_1 .box .link-more {
  font-weight: 700;
  height: 0;
  overflow: hidden;
  color: #800080;
  transition: 0.5s;
  position: relative;
  left: -15px;
}
.contents_1 .box .link-more::before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(80, 00, 80, 0.5);
  position: absolute;
  left: 73px;
  top: 3px;
}

.contents_1 .box .link-more::after {
  content: "";
  width: 50px;
  height: 20px;
  background-image: url(../images/p_btn.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 65px;
  top: 8px;
  transition: 0.5s;
}

.contents_1 .box:hover .link-more {
  height: 1.5em;
  overflow: visible;
}

.contents_1 .box .link-more:hover::after {
  transform: translate(18px, 0);
}

/* ######## contents_2 ######## */

.contents_2 {
  height: 100vh;
  background-image: url(../images/contents_2_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contents_2 .bm-list {
  width: 100%;
  display: flex;
  height: 100%;
}

.contents_2 .bm-list li {
  width: 25%;
  height: 100%;
  border-right: 0.1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
}

.contents_2 .bm-list li:last-child {
  border-right: none;
}

.contents_2 h3 {
  font-size: 1.78rem;
  line-height: 3em;
}
.hidden {
  height: 0;
  opacity: 0;
}

.contents_2 li:hover {
  background: rgba(80, 00, 80, 0.3);
}

.contents_2 li:hover .hidden {
  height: auto;
}

.contents_2 li:hover h3 {
  transform: scale(1.5);
  transition: 0.4s;
}

.contents_2 li:hover .kf-title-slide {
  animation: title-slide 0.6s forwards;
}

.contents_2 li:hover .kf-next-slide {
  animation: next-slide 0.6s 0.3s forwards;
}

@keyframes title-slide {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes next-slide {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contents_2 li .link-more {
  line-height: 30px;
  position: relative;
  margin: 20px auto;
  width: 200px;
  left: -30px;
  /* outline: 1px solid red; */
}
.contents_2 a {
  color: #fff;
}
.contents_2 .link-more::before {
  content: "";
  width: 30px;
  height: 30px;
  background: rgba(80, 00, 80, 0.8);
  position: absolute;
  right: 30px;
}
.contents_2 .link-more::after {
  content: "";
  width: 30px;
  height: 20px;
  background-image: url(../images/more.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 40px;
  top: 10px;
  transition: 0.5s;
}
.contents_2 .link-more:hover::after {
  transform: translate(20px, 0);
}

/* ######## contents_3 ######## */
.contents_3 {
  width: 100%;
  text-align: center;
  padding: 180px 40px;
  position: relative;
}

.contents_3 > h2 {
  font-size: 3.56rem;
}

.contents_3 h2 .yel {
  position: relative;
}
.contents_3 .yel::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #fac120;
  position: absolute;
  top: 5px;
  left: -10px;
  z-index: -1;
}

.contents_3 .news_list {
  width: 90vw;
  max-width: 1440px;
  height: 526px;

  margin: 0 auto;
  margin-top: 100px;
  text-align: left;

  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contents_3 .news_list li {
  display: inline-block;
  width: calc((100% - 40px) / 3);
  height: 526px;
  margin-right: 20px;

  border-top: 1px solid #800080;
}
.contents_3 .news_list li:nth-child(3) {
  margin-right: 0px;
}

.contents_3 .news_box .news_bm {
  width: 120px;
  background: #800080;
  color: #fff;
  line-height: 40px;
  font-size: 1.08rem;
  text-align: center;
}

.contents_3 .news_box .news_title {
  font-size: 1.7rem;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 32px;
  overflow: hidden;
  position: relative;
}

.contents_3 .news_box .news_title::before {
  content: "...";
  width: 30px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: -7px;
}

.contents_3 .news_txt {
  height: 60px;
  font-size: 1.05rem;
  line-height: 1.8em;
  overflow: hidden;
  font-weight: 400;
  margin-bottom: 20px;
}

.contents_3 .news_date {
  margin-bottom: 20px;
  color: #ccc;
  font-weight: 300;
}

.contents_3 .news_img {
  height: 270px;
  overflow: hidden;
}

.contents_3 img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  object-fit: cover;
  object-position: center;
}

.contents_3 .news_img:hover {
  outline: 0.1px solid rgba(80, 00, 80, 0.3);
}
.contents_3 .news_img:hover > img {
  transform: scale(1.04);
}

.contents_3 .btn_box {
  width: 97vw;
  max-width: 1550px;
  height: 526px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 360px;
  left: calc(50%);
  transform: translateX(-50%);
}
.contents_3 .btn {
  width: 30px;
  height: 30px;
  border-top: 5px solid rgba(30, 30, 30, 0.5);
  border-right: 5px solid rgba(30, 30, 30, 0.5);
}
.contents_3 .btn.news_prev {
  transform: rotate(-135deg);
}
.contents_3 .btn.news_next {
  transform: rotate(45deg);
}

/* ######## contents_4 ######## */
.contents_4 {
  background-image: url(../images/bottom_banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  height: 360px;
  position: relative;
}
.contents_4 .bottom_banner {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  color: #fff;
}

.contents_4 .bottom_banner:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.contents_4 h2 .yel {
  position: relative;
  font-size: 1.77rem;
  z-index: 1;
}
.contents_4 .yel::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fac120;
  position: absolute;
  top: 2px;
  left: -8px;
  z-index: -1;
}

.contents_4 a {
  color: #fff;
}

.contents_4 .link-more {
  position: relative;
  left: -20px;
  height: 20px;
}

.contents_4 .link_more_wrap {
  width: 200px;
  display: flex;
}

.contents_4 .link_more_wrap a {
  width: 50%;
}

.contents_4 .link_more_wrap a .link-more {
  left: -10px;
}

.contents_4 .link-more::before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -40px;
  top: 2px;
}

.contents_4 .link-more::after {
  content: "";
  width: 25px;
  height: 20px;
  background-image: url(../images/more.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -33px;
  top: 8px;
  transition: 0.5s;
}
.contents_4 .link-more:hover::after {
  transform: translate(20px, 0);
}

/* ######## footer ######## */
footer {
  width: 100%;
  padding: 70px 40px;
  background: #000;
  position: relative;
  color: #fff;
}
footer .footer_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .footer_box:first-child {
  margin-bottom: 130px;
}
footer .footer_menu {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
footer .footer_menu a {
  color: #fff;
  font-size: 18px;
}

footer .footer_logo {
  width: 198px;
}

footer p {
  font-size: 13px;
  color: #aaa;
}

footer .sns_box {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
